--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
causal-conv1d>=1.5.0.post8
mamba-ssm==2.3.0

pip install causal_conv1d-1.6.2.post1+cu12torch2.7cxx11abiTRUE-cp312-cp312-linux_x86_64.whl
pip install mamba_ssm-2.3.0+cu12torch2.7cxx11abiTRUE-cp312-cp312-linux_x86_64.whl